/* Custom Properties */
:root {
  --first-color:#F9F54B;
  --second-color: #8bf5fa;
  --third-color: #3f979b;
  --fourth-color: #205e61;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
  
}

.title-wrapper{
  text-align: center;
}

.body-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  max-width: 25%;
  height: auto;
  filter: blur(1px);
}

img:hover{
  filter: blur(2px);
-webkit-box-shadow: 0 0 10px #fff;
box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45);}


.nav-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}